.dashboard_section_container {
  height: 100%;
  width: 100%;
  display: flex;

  .left {
    height: 100vh;
    width: 15%;
    background: white;
    display: flex;
    flex-direction: column;
    .main_left_container {
      height: 100%;
    }

    .nav_header {
      padding: 0 0 0 5%;
      font-size: 1.2rem;
      text-decoration: underline;
    }

    .main {
      h2 {
        padding: 0 0 0 5%;
        font-size: 1.5rem;
        margin: 5% 0;
      }

      .active {
        background: lightblue;
        border-left: 4px solid blue;
      }

      .main_button {
        margin: 5% 0;
      }
    }

    .filters {
      padding: 0 0 0 5%;
      display: flex;
      flex-direction: column;

      select {
        margin: 4px 0;
        border: none;
      }

      .bottom_filter {
        border: 1px solid lime;
      }
    }
  }

  .middle {
    width: 60%;
    height: 100%;
    display: flex;
    padding-left: 3%;
    flex-direction: column;

    .left {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
      }
    }

    .middle {
      width: 70%;
      height: 100%;

      h2 {
        margin: 0;
        padding: 0;
        border: none;
      }

      p {
        margin: 0;
        padding: 0;
        border: none;
      }
    }

    .right {
      width: 15%;
      height: 100%;

      p {
      }
    }
  }
}

.right {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
    }
  }
}
