.navbar {
  width: 100%;
  background: rgb(221, 239, 248);
  height: 7%;
  display: flex;
  justify-content: space-between;
  .link {
    font-size: 2rem;
  }

  .nav_links {
    width: 50%;
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      color: #2e2c48;
      font-size: 1.1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}
.ticket_queue {
  display: flex;
  width: 15%;
  justify-content: center;
  position: relative;
  align-items: center;
  left: 1.5%;
  p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 3%;
    font-weight: bold;
  }
  img {
    height: 30px;
  }
}
